<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.lofi.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>com.lofi.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.lofi.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>com.lofi.servlet.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>com.lofi.servlet.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FavouriteServlet</servlet-name>
        <servlet-class>com.lofi.servlet.FavouriteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileUpdateServlet</servlet-name>
        <servlet-class>com.lofi.servlet.ProfileUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>com.lofi.servlet.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewRequestServlet</servlet-name>
        <servlet-class>com.lofi.servlet.ReviewRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApprovalDecisionServlet</servlet-name>
        <servlet-class>com.lofi.servlet.ApprovalDecisionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>com.lofi.servlet.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendorDashboardServlet</servlet-name>
        <servlet-class>com.lofi.servlet.VendorDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitFoodSpotServlet</servlet-name>
        <servlet-class>com.lofi.servlet.SubmitFoodSpotServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmissionServlet</servlet-name>
        <servlet-class>com.lofi.servlet.SubmissionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuServlet</servlet-name>
        <servlet-class>com.lofi.servlet.MenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddReviewServlet</servlet-name>
        <servlet-class>com.lofi.servlet.AddReviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewActionServlet</servlet-name>
        <servlet-class>com.lofi.servlet.ReviewActionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FavouriteServlet</servlet-name>
        <url-pattern>/FavouriteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileUpdateServlet</servlet-name>
        <url-pattern>/ProfileUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewRequestServlet</servlet-name>
        <url-pattern>/ReviewRequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApprovalDecisionServlet</servlet-name>
        <url-pattern>/ApprovalDecisionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendorDashboardServlet</servlet-name>
        <url-pattern>/VendorDashboardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitFoodSpotServlet</servlet-name>
        <url-pattern>/SubmitFoodSpotServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmissionServlet</servlet-name>
        <url-pattern>/SubmissionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuServlet</servlet-name>
        <url-pattern>/MenuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddReviewServlet</servlet-name>
        <url-pattern>/AddReviewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewActionServlet</servlet-name>
        <url-pattern>/ReviewActionServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>com.lofi.filter.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
